<div class="post-listing">
  {{#if admin}}
    {{#link-to 'admin.posts.post' post}}
      <h2>{{post.title}}</h2>
    {{/link-to}}
    {{#link-to 'admin.posts.edit' post}}
      Edit
    {{/link-to}} |
    <a href='#' {{action 'deletePost' post}}>Delete</a> |
    <a href='#' {{action 'publishPost' post}}>Publish</a>
  {{else}}
    {{#link-to 'posts.post' post}}
      <h2>{{post.title}}</h2>
    {{/link-to}}
  {{/if}}
</div>
